body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

input, button {
  background-color: transparent;
  border-bottom: 1px dotted #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  font-size: 4em;
  width: 90%;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  display:inline;
  &:not(:first-child) {
    margin-left: 0.5rem;
  }
}


